{% extends 'base.html' %}
{% load static %}
{% block team %}text-[#F9C56A] text-4xl font-medium max-sm:text-sm{% endblock team %}
{% block title %}Team{% endblock title %}
{% block content %}
    <div class="text-center mx-[10%]">
        <h1 class="text-6xl text-[#F9C56A] max-sm:text-xl font-bold font-sans my-8 max-sm:mt-4">Quantum Computing Club</h1>
        <h1 class="text-5xl text-[#F9C56A] max-sm:text-lg font-semibold max-sm:mt-8 max-sm:mb-2 mt-16 mb-6">Aim</h1>
        <p class="text-[#f1f1f1] max-sm:text-xs text-3xl font-medium ">Lorem Ipsum - when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap...</p>
        <h1 class="text-5xl text-[#F9C56A] max-sm:text-lg font-semibold max-sm:my-3 mt-8 mb-6">Vision</h1>
        <p class="text-[#f1f1f1] text-3xl max-sm:text-xs font-medium ">Lorem Ipsum - when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap...</p>
    </div>
    <div class="text-center mt-10">
        <h1 class="text-5xl font-semibold font-Nunito text-white mb-6">Meet the <span class="text-[#F9C56A]">Team</span></h1>
        <div class="flex justify-center items-center gap-10 flex-wrap">
            {% comment %} each div is one member details {% endcomment %}
            <div class="text-white text-left hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/AswathSir.jpeg' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Ashwath Babu </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Mentor </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" target = '#' href=""><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" target = '#' href=""><i class="fa-brands fa-github"></i></a> </div>  
                    </div>
                </div>
            </div>
            {% comment %}  {% endcomment %}
            <div class="text-white text-left hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/default_profile.png' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Gautami Sanjay Naik </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Mentor </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/gautami-naik-7884641b1' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
            {% comment %}  {% endcomment %}
            <div class="text-white text-left hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/GaurangBelekar.png' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Gaurang Belekar </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> President </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/gaurang-belekar-ba27171b7' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
            {% comment %}  {% endcomment %}
            <div class="text-white text-left hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/YASWANTH.jpg' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> N Yashwanth Kumar </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Vice President </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/n-yaswanth-kumar-2a1800228' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
            {% comment %}  {% endcomment %}
        </div>
    </div>
    <div class="text-center text-white mt-6 flex justify-center items-center gap-4 flex-wrap mb-10">
        {% comment %} here top div is for sinfgle team with team leader details {% endcomment %}
        <div>
            <a href="{% url 'team-page-technical'%}"><h1 class="font-semibold text-3xl mb-3"><span class="text-[#F9C56A]">Technical</span> Team</h1></a>
            <div class="text-white text-left pl-2 hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/NamanSrivastava.jpeg' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Naman Srivastav </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Lead </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/naman-srivastava-99854b205' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
        </div>
        {% comment %}  {% endcomment %}
        <div>
            <a href="{% url 'team-page-content'%}"><h1 class="font-semibold text-3xl mb-3"><span class="text-[#F9C56A]">Content</span> Team</h1></a>
            <div class="text-white text-left pl-2 hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/Shreya.jpg' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Shreya Talekar  </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Lead </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/shreya-talekar-39a043228' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
        </div>
        {% comment %}  {% endcomment %}
        <div>
            <a href="{% url 'team-page-social'%}"><h1 class="font-semibold text-3xl mb-3"><span class="text-[#F9C56A]">Social</span> Team</h1></a>
            <div class="text-white text-left pl-2 hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/Ashitosh.JPG' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Ashitosh Sable </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Lead </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = '#' target="https://www.linkedin.com/in/ashitosh-sable/"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
        </div>
        {% comment %}  {% endcomment %}
        <div>
            <a href="{% url 'team-page-event'%}"><h1 class="font-semibold text-3xl mb-3"><span class="text-[#F9C56A]">Event</span> Team</h1></a>
            <div class="text-white text-left pl-2 hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/Jaishana.JPG' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Jaishana Bindhu Priya </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Lead </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/jaishana-bindhu-priya-636130228' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://github.com/jaishana25' target="#"><i class="fa-brands fa-github"></i></a> </div>  
                    </div>
                </div>
            </div>
        </div>
        {% comment %}  {% endcomment %}
        <div>
            <a href="{% url 'team-page-webd'%}"><h1 class="font-semibold text-3xl mb-3"><span class="text-[#F9C56A]">Web-D</span> Team</h1></a>
            <div class="text-white text-left pl-2 hover:scale-[1.08] duration-500">
                <img class="h-[15rem] mx-auto" src="{% static 'images/HarshRawat.jpg' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Harsh Rawat  </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Lead </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/harshrawat20/' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
