{% extends 'base.html' %}
{% load static %}
{% block title %}Technical Team{% endblock title %}
{% block content %}
    <div class="text-center text-white px-[10%]">
        <h1 class="font-semibold text-6xl">Meet our <span class="text-[#F9C56A]">Technical Team</span></h1>
        <div class=" flex justify-center items-center gap-6 flex-wrap mt-10">
            <div class="text-white text-left">
                <img class="h-[15rem]" src="{% static 'images/default_profile.png' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Naman Srivastav </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Lead </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/naman-srivastava-99854b205' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
            <div class="text-white text-left">
                <img class="h-[15rem]" src="{% static 'images/default_profile.png' %}" alt="">
                <div class='flex justify-between items-start gap-4'>
                    <div>
                        <h1 class="text-lg font-medium"> Rishi Koushik Reddy T  </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Member </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/rishikoushik' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'http://github.com/RishiKoushik' target="#"><i class="fa-brands fa-github"></i></a> </div>  
                    </div>
                </div>
            </div>
            <div class="text-white text-left">
                <img class="h-[15rem]" src="{% static 'images/default_profile.png' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Tathya Kumar Jha </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Member </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/in/tathya-jha-7715b4229' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
            <div class="text-white text-left">
                <img class="h-[15rem]" src="{% static 'images/default_profile.png' %}" alt="">
                <div class='flex justify-between items-start'>
                    <div>
                        <h1 class="text-lg font-medium"> Karan </h1>
                        <h1 class="text-sm text-[#777777] font-medium"> Member </h1>
                    </div>
                    <div class='flex justify-end gap-2 items-center pt-1 pr-2'>
                        <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] text-xl"><a class="" href = 'https://www.linkedin.com/mwlite/in/s-karan-raaj-21167a229' target="#"><i class="fa-brands fa-x fa-linkedin-in"></i></a> </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}