{% extends 'base.html' %}
{% block title %}Add Member{% endblock title %}
{% block content %}
    <div class='mx-[25%] p-4 bg-[#333333] rounded-xl text-center'>
        <form action="{% url 'add-member' %}" method='POST'>
            {% csrf_token %}
            <div class='text-left flex items-center gap-2 mb-3'>
                <p class='text-white text-2xl font-semibold'>Name:</p>
                <div class='ml-16'>{{form.name}}</div>
            </div>
            <div class='text-left flex items-center gap-2 mb-3'>
                <p class='text-white text-2xl font-semibold'>Team :</p>
                <div class='ml-16'>{{form.team_name}}</div>
            </div>
            <div class='text-left flex items-center gap-2 mb-3'>
                <p class='text-white text-2xl font-semibold'>Position :</p>
                <div class='ml-9'>{{form.position}}</div>
            </div>
            <div class='text-left flex items-center gap-2 mb-3'>
                <p class='text-white text-2xl font-semibold'>Profile :</p>
                <div class='ml-12'>{{form.profile_photo}}</div>
            </div>
            <div class='text-left flex items-center gap-2 mb-3'>
                <p class='text-white text-2xl font-semibold'>Linked In :</p>
                <div class='ml-7'>{{form.linked_in}}</div>
            </div>
            <div class='text-left flex items-center gap-2 mb-3'>
                <p class='text-white text-2xl font-semibold'>Github :</p>
                <div class='ml-14'>{{form.github}}</div>
            </div>
            <button class="px-4 py-1 bg-[#eeb95d] text-black text-lg font-medium hover:scale-[1.1] hover:shadow-md hover:shadow-white duration-500" type='submit'>Save</button>
        </form>
    </div>
{% endblock content %}