<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
        footer{
            font-family: Poppins;
        }
        *{
            font-family: Nunito;
        }
        {% block style %}{% endblock style %}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block links %}{% endblock links %}
    <title> {% block title %}{% endblock title %} </title>
</head>
<body class="bg-black">
    <nav>
        <div class="flex justify-center text-white text-4xl gap-16 py-4 items-center mb-4 max-sm:text-sm">
            <a class="{% block home %}{% endblock home %} hover:scale-[1.1] hover:text-[#F9C56A]" href="{% url 'home' %}">Home</a>
            <a class="{% block gallery %}{% endblock gallery %} hover:scale-[1.1] hover:text-[#F9C56A]" href="{% url 'gallery' %}">Gallery</a>
            <a class="{% block team %}{% endblock team %} hover:scale-[1.1] hover:text-[#F9C56A]" href="{% url 'team' %}">Team</a>
            <a class="{% block blogs %}{% endblock blogs %} hover:scale-[1.1] hover:text-[#F9C56A]" href="https://blog-qc-club.netlify.app/">Blogs</a>
            <a class="{% block magazine %}{% endblock magazine %} hover:scale-[1.1] hover:text-[#F9C56A]" href="{% url 'magazine' %}">Magazines</a>
            <a class="{% block contact %}{% endblock contact %} hover:scale-[1.1] hover:text-[#F9C56A]" href="{% url 'contact' %}">Contact</a>
          </div>
    </nav>
    {% block content %}{% endblock content %}
    <footer>
        <div class="flex px-[10%] items-center bg-[#212121] mt-12">
            <div>
                <img class="w-[35rem]" src="{% static 'images/QuantumComputing.png' %}" alt="">
            </div>
            <div class="w-full">
                <div class="flex mt-4 gap-3 text-white text-xl pl-[40%]">
                    <div class="p-1 rounded-full px-[0.65rem] pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#181818]"><i class="fa-brands fa-twitter"></i></div>
                    <div class="p-1 rounded-full px-[0.85rem] pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#181818]"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="p-1 rounded-full px-3 font-bold pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#181818]"><i class="fa-brands fa-bold fa-instagram"></i></div>
                    <div class="p-1 rounded-full px-[0.65rem] pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#181818]"><i class="fa-brands fa-github"></i></div>
                </div>
                <div class="flex text-left mt-6">
                    <div class="w-[50%] pl-[30%]">
                        <h1 class="text-2xl text-[#F9C56A] font-semibold">About Us</h1>
                        <p class="text-white my-1">Aim</p>
                        <p class="text-white my-1">Vision</p>
                        <p class="text-white my-1">Team</p>
                        <p class="text-white my-1">Recruitment</p>
                    </div>
                    <div class="w-[50%] pl-[10%]">
                        <h1 class="text-2xl text-[#F9C56A] font-semibold">Resources</h1>
                        <p class="text-white my-1">E - Books</p>
                        <p class="text-white my-1">Youtube Courses</p>
                        <p class="text-white my-1">Documentation</p>
                        <p class="text-white my-1">Blogs</p>
                    </div>
                </div>
                <div class="text-center text-[#666666] mt-3">
                    <p class="text- ">&#169; Copyright 2023, All Rights Reserved by QC Club IIIT Dharwad</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>