{% extends 'base.html' %}
{% load static %}
{% block contact %}text-[#F9C56A] text-4xl font-medium max-sm:text-sm{% endblock contact %}
{% block title %}Contact us{% endblock title %}
{% block content %}
    <div class="text-white">
        <div class="text-center">
            <h1 class="text-6xl font-semibold mb-1"><span class=" text-[#F9C56A]">Connect </span>With Us</h1>
            <p class="text-white text-2xl">This message could be your next step into <span class="text-[#F9C56A] font-medium">Quantum</span> World</p>
        </div>
        <div class="mx-auto bg-[#131313] p-4 flex w-fit mt-2 flex-wrap gap-6 items-center rounded-xl border border-[#363636]">
            <div class=" mx-auto">
                <img class="w-[25rem]" src="{% static 'images/IBM_QuantumComputing.jpeg' %}" alt="contact image">
            </div>
            <div class="items-center mx-auto">
                <form action="{% url 'contact' %}" method='POST'>
                    {% csrf_token %}
                    <div class="my-2">
                        <p class="text-[#bbb] font-semibold text-lg">Name</p>
                        {{form.name}}
                    </div>
                    <div class="my-2">
                        <p class="text-[#bbb] font-semibold text-lg">E-mail</p>
                        {{form.email}}
                    </div>
                    <div class="my-2">
                        <p class="text-[#bbb] font-semibold text-lg">Subject</p>
                        {{form.subject}}
                    </div>
                    <div class="my-2">
                        <p class="text-[#bbb] font-semibold text-lg">Message</p>
                        {{form.message}}
                    </div>
                    <button class="px-2 py-1 bg-[#F9C56A] text-black" type='submit'>Submit</button>
                </form>
            </div>
        </div>
        <div class="text-center flex gap-5 justify-center bg-black text-white mt-3">
            <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78]"><a class="social-icons" target = '#' href="https://www.instagram.com/qciiitdwd/"><i class="fa-brands fa-2x fa-instagram"></i></a>  </div>  
            <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78]"><a class="social-icons" target = '#' href="https://www.linkedin.com/company/quantum-computing-club-iiit-dharwad/"><i class="fa-brands fa-2x fa-linkedin-in"></i></a> </div>   
            <div class="hover:scale-[1.2] duration-500 hover:text-[#e4bc78] "><a class="social-icons" target = '#' href="mailto:qcclub@iiitdwd.ac.in"><i class="fa-regular fa-2x fa-envelope"></i></a>  </div>  
        </div>
    </div>

{% endblock content %}
