{% extends 'base.html' %}
{% load static %}
{% block gallery %}text-[#F9C56A] text-4xl font-medium max-md:text-xl{% endblock gallery %}
{% block style %}
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


  *{
      font-family: Nunito;
  }
  body{
      background-color: #000000;
  }

  h1{
      font-family: Nunito;
      font-size:50px;
      text-align:center;
      color:white;
      padding:1%;
    }
    #gallery{
      padding: 0 3rem;
      -webkit-column-count:4;
      -moz-column-count:4;
      column-count:4;
      
      -webkit-column-gap:20px;
      -moz-column-gap:20px;
      column-gap:20px;
    }
    @media (max-width:1200px){
      #gallery{
      -webkit-column-count:3;
      -moz-column-count:3;
      column-count:3;
        
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }
    }
    @media (max-width:800px){
      #gallery{
      -webkit-column-count:2;
      -moz-column-count:2;
      column-count:2;
        
      -webkit-column-gap:20px;
      -moz-column-gap:20px;
      column-gap:20px;
    }
    }
    @media (max-width:600px){
      #gallery{
      -webkit-column-count:1;
      -moz-column-count:1;
      column-count:1;
    }  
    }
    #gallery img,#gallery video {
      width:100%;
      height:auto;
      object-fit: cover;
      border-radius: 12px;
      margin: 4% auto;
      /* box-shadow: 0px 0px 10px #ffffff; */
      cursor: pointer;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    #gallery img:hover{
      transform: scale(1.03);
    }
    .modal-img,.model-vid{
      width:100%;
      height:auto;
    }
    .modal-body{
      padding:0px;
    }

    .container-fluid .popup-image {
      position:fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      height: 35%;
      width: 35%;
      z-index: 100;
    }

    .container-fluid .popup-image span{
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 40px;
      font-weight: bolder;
      color: white;
      cursor: pointer;
      z-index: 100;
    }

    .container-fluid .popup-image img{
      position: absolute;
      top: 0%;
      left: 75%;
      transform: translate(-50%,-50%);
      border: 5px solid white;
      border-radius: 5px;
      width: 750px;
      object-fit: cover;
    }
    .container-fluid .popup-image img{
      transform: scale(1);
    }
{% endblock style %}
{% block title %}Gallery{% endblock title %}
{% block content %}
<div class="text-white text-center mb-8" id="main">
    <h2 class="text-5xl font-semibold"><span class="text-[#F9C56A]">Reminiscing</span> the Great Moments</h2>
    <p class="text-xl">This is the collectioon of Great Moments captured in Our Club</p>
  </div>
  <!-- <div id="gallery" class="container-fluid">  
    <img src="https://source.unsplash.com/1600x1200?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1024x768?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1366x768?dog,portrait" class="img-responsive">
    <video class="vid" controls>
      <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
      </source>
    </video>
    <img src="https://source.unsplash.com/1920x1080?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/640x360?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/400x600?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/320x640?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1200x1600?dog,portrait" class="card img-responsive">
    <img src="https://source.unsplash.com/800x600?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/600x800?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/600x400?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1100x1600?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1600x1100?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/992x768?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/768x992?dog,portrait" class="img-responsive">
  </div> -->
  <div id="gallery" class="container-fluid">  
    <img width=1600 height=1200 class="img-responsive bg-[#D7D7D7]">
    <img width=1024 height=768 class="img-responsive bg-[#D7D7D7]">
    <img width=1366 height=768 class="img-responsive bg-[#D7D7D7]">
    <img width=1920 height=1080 class="img-responsive bg-[#D7D7D7]">
    <img width=640 height=360 class="img-responsive bg-[#D7D7D7]">
    <img width=320 height=640 class="img-responsive bg-[#D7D7D7]">
    <img width=1200 height=1600 class="card img-responsive bg-[#D7D7D7]">
    <img width=800 height=600 class="img-responsive bg-[#D7D7D7]">
    <img width=600 height8200 class="img-responsive bg-[#D7D7D7]">
    <img width=400 height=600 class="img-responsive bg-[#D7D7D7]">
    <img width=600 height=400 class="img-responsive bg-[#D7D7D7]">
    <img width=1100 height=1600 class="img-responsive bg-[#D7D7D7]">
    <img width=1600 height=1100 class="img-responsive bg-[#D7D7D7]">
    <img width=992 height=768 class="img-responsive bg-[#D7D7D7]">
    <img width=768 height=992 class="img-responsive bg-[#D7D7D7]">
  </div>


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>

    </div>
  </div>
{% endblock content %}