{% extends 'base.html' %}
{% load static %}
{% block gallery %}text-[#eeb95d] text-3xl font-medium max-sm:text-sm{% endblock gallery %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock links %}
{% block title %}Gallery{% endblock title %}
{% block content %}
<div class="text-white text-center mb-8">
    <h2 class="text-5xl font-semibold"><span class="text-[#eeb95d]">Reminiscing</span> the Great Moments</h2>
    <p class="text-xl">This is the collectioon of Great Moments captured in Our Club</p>
  </div>
  <!-- <div id="gallery" class="container-fluid">  
    <img src="https://source.unsplash.com/1600x1200?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1024x768?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1366x768?dog,portrait" class="img-responsive">
    <video class="vid" controls>
      <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
      </source>
    </video>
    <img src="https://source.unsplash.com/1920x1080?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/640x360?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/400x600?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/320x640?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1200x1600?dog,portrait" class="card img-responsive">
    <img src="https://source.unsplash.com/800x600?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/600x800?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/600x400?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1100x1600?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1600x1100?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/992x768?dog,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/768x992?dog,portrait" class="img-responsive">
  </div> -->
  <div id="gallery" class="container-fluid">  
    <img width=1600 height=1200 class="img-responsive bg-[#D7D7D7]">
    <img width=1024 height=768 class="img-responsive bg-[#D7D7D7]">
    <img width=1366 height=768 class="img-responsive bg-[#D7D7D7]">
    <img width=1920 height=1080 class="img-responsive bg-[#D7D7D7]">
    <img width=640 height=360 class="img-responsive bg-[#D7D7D7]">
    <img width=320 height=640 class="img-responsive bg-[#D7D7D7]">
    <img width=1200 height=1600 class="card img-responsive bg-[#D7D7D7]">
    <img width=800 height=600 class="img-responsive bg-[#D7D7D7]">
    <img width=600 height8200 class="img-responsive bg-[#D7D7D7]">
    <img width=400 height=600 class="img-responsive bg-[#D7D7D7]">
    <img width=600 height=400 class="img-responsive bg-[#D7D7D7]">
    <img width=1100 height=1600 class="img-responsive bg-[#D7D7D7]">
    <img width=1600 height=1100 class="img-responsive bg-[#D7D7D7]">
    <img width=992 height=768 class="img-responsive bg-[#D7D7D7]">
    <img width=768 height=992 class="img-responsive bg-[#D7D7D7]">
  </div>


  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>

    </div>
  </div>
{% endblock content %}