{% extends 'base.html' %}
{% load static %}
{% block style %}
    .container {
        display: table;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        background-size: 95%;
        background: #EEC885;
        background: -webkit-linear-gradient(to left, black, #EEC885, #EEC885, black 95%);
        background: linear-gradient(to left, rgba(0,0,0,0.6), #EEC885, #EEC885, rgba(0,0,0,0.6) 95%);
    }
    p{
        opacity: 1;
    }
{% endblock style %}
{% block title %}Home{% endblock title %}
{% block home %}text-[#F9C56A] text-4xl font-medium max-sm:text-sm{% endblock home %}
{% block content %}
<div class="ml-[7.5%] flex justify-center items-center mt-10">
    <div class="w-[50%]">
        <h1 class="text-white text-6xl font-bold">Leap into next age <br>of <span class="text-[#F9C56A]">computing</span> today!</h1>
        <p class="text-x pt-4 font-medium text-[#D5D5D5]">From revolutionising finance and healthcare to optimising logistics and enhancing
            cybersecurity, <span class="text-[#F9C56A] font-medium">Quantum Computing</span> is set to reshape the world, unlocking limitless potential for innovation and advancement.
        </p>
        <div class=" mt-8 flex gap-4">
            <div class="px-12 py-3 bg-[#F9C56A] w-fit rounded-xl">
                <p>UpComing Events</p>
            </div>
            <div class="px-12 py-3 bg-[#252525] text-white border border-[#363636] w-fit rounded-xl">
                <p>Explore QC Club</p>
            </div>
        </div>
        <div class="flex mt-4 ml-4 gap-3 text-white text-xl">
            <a href=""><div class="p-1 rounded-full px-[0.65rem] pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#252525]"><i class="fa-brands fa-twitter"></i></div></a>
            <a href=""><div class="p-1 rounded-full px-[0.85rem] pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#252525]"><i class="fa-brands fa-facebook-f"></i></div></a>
            <a href=""><div class="p-1 rounded-full px-3 font-bold pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#252525]"><i class="fa-brands fa-bold fa-instagram"></i></div></a>
            <a href=""><div class="p-1 rounded-full px-[0.65rem] pt-2 hover:bg-[#F9C56A] hover:text-black bg-[#252525]"><i class="fa-brands fa-github"></i></div></a>
        </div>
    </div>
    <div>
        <img class="w-[35rem]" src="{% static 'images/QuantumComputing.png' %}" alt="">
    </div>
</div>
<div class="mx-[10%] text-white mt-8">
    <div class="flex justify-around container py-14 rounded-full z-auto">
    </div>
</div>
<div class="mx-[10%] text-white -mt-[7rem]">
    <div class="flex justify-around  py-8 rounded-full z-auto">
        <div class="flex items-center item">
            <p class="text-6xl font-bold">200+</p>
            <p class="font-light ml-2">Quantum Computing <br>resources</p>
        </div>
        <div class="flex items-center item">
            <p class="text-6xl font-bold">20+</p>
            <p class="font-light ml-2">QC <br>Projects</p>
        </div>
        <div class="flex items-center item">
            <p class="text-6xl font-bold">30+</p>
            <p class="font-light ml-2">QC <br>Blogs</p>
        </div>
    </div>
</div>
<div class="mr-[10%] mt-16 flex items-center">
    <div class="w-[50%]">
        <img class="" src="{% static 'images/quantumMachine.png' %}" alt="">
    </div>
    <div class="-ml-20 w-[50%]">
        <p class="text-white text-6xl font-bold">What our <span class="text-[#F9C56A]">club</span> does?</p>
        <p class="text-[#d5d5d5] mt-4 font-medium text-lg">"Welcome to our 
            Quantum Computing Club, where we explore the fascinating world of 
            quantum mechanics and its applications in computing. Our club is 
            dedicated to deepening our understanding of quantum computing and 
            fostering a community of passionate individuals who are eager to 
            delve into this cutting-edge field. <br><br>
            In our club, we engage in a variety of activities to broaden our 
            knowledge and skills in quantum computing. We organize regular 
            workshops and seminars where members can learn about the foundational 
            principles of quantum mechanics, quantum algorithms, and quantum hardware. 
            These sessions are led by experts in the field who provide valuable insights 
            and guidance"</p>
    </div>
</div>
<div class="text-center my-10">
    <h1 class="text-5xl text-white font-bold"><span class="text-[#F9C56A]">QC Club</span> Blogs</h1>
</div>
<div class="ml-[10%] overflow-x-auto flex gap-12">
    {% comment %} each div is for each blog {% endcomment %}
    <div class="rounded-3xl w-[30rem]">
        <div class="w-[30rem] h-[24rem] overflow-y-hidden">
            <img class="rounded-t-3xl w-fit" src="{% static 'images/chess.png' %}" alt="">
        </div>
        <div class="p-10 w-[30rem] bg-[#252525] rounded-b-3xl">
            <h1 class="text-white text-3xl">Blog Title</h1>
            <p class="text-[#7e7e7e] font-semibold">Lorem Ipsum is a text that u can understand as u are reading this ;</p>
            <p class="text-[#F9C56A] text-lg mt-1 font-semibold">by "Author"</p>
        </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="rounded-3xl w-[30rem]">
        <div class="w-[30rem] h-[24rem] overflow-y-hidden">
            <img class="rounded-t-3xl w-fit" src="{% static 'images/chess.png' %}" alt="">
        </div>
        <div class="p-10 w-[30rem] bg-[#252525] rounded-b-3xl">
            <h1 class="text-white text-3xl">Blog Title</h1>
            <p class="text-[#7e7e7e] font-semibold">Lorem Ipsum is a text that u can understand as u are reading this ;</p>
            <p class="text-[#F9C56A] text-lg mt-1 font-semibold">by "Author"</p>
        </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="rounded-3xl w-[30rem]">
        <div class="w-[30rem] h-[24rem] overflow-y-hidden">
            <img class="rounded-t-3xl w-fit" src="{% static 'images/chess.png' %}" alt="">
        </div>
        <div class="p-10 w-[30rem] bg-[#252525] rounded-b-3xl">
            <h1 class="text-white text-3xl">Blog Title</h1>
            <p class="text-[#7e7e7e] font-semibold">Lorem Ipsum is a text that u can understand as u are reading this ;</p>
            <p class="text-[#F9C56A] text-lg mt-1 font-semibold">by "Author"</p>
        </div>
    </div>
    {% comment %}  {% endcomment %}
</div>
<div class="text-center my-10 flex items-start gap-2 justify-center">
    <h1 class="text-4xl text-white font-medium">More <span class="text-[#F9C56A]">Blogs</span></h1>
    <p class="text-4xl text-[#F9C56A] -mt-2">⌄</p>
</div>
<div class="text-center mb-10 mt-16">
    <h1 class="text-5xl text-white font-bold"><span class="text-[#F9C56A]">QC Club</span> Events</h1>
</div>
<div class="ml-[10%] overflow-x-auto flex gap-12">
    {% comment %} each div is for each event {% endcomment %}
    <div class="rounded-3xl w-[30rem]">
        <div class="w-[30rem] h-[24rem] overflow-y-hidden">
            <img class="rounded-t-3xl w-fit" src="{% static 'images/chess.png' %}" alt="">
        </div>
        <div class="p-10 w-[30rem] bg-[#252525] rounded-b-3xl">
            <h1 class="text-white text-3xl">Event Title</h1>
            <p class="text-[#7e7e7e] font-semibold">Lorem Ipsum is a text that u can understand as u are reading this ;</p>
            <p class="text-[#F9C56A] text-lg mt-1 font-semibold">by "Speaker/Organization"</p>
        </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="rounded-3xl w-[30rem]">
        <div class="w-[30rem] h-[24rem] overflow-y-hidden">
            <img class="rounded-t-3xl w-fit" src="{% static 'images/chess.png' %}" alt="">
        </div>
        <div class="p-10 w-[30rem] bg-[#252525] rounded-b-3xl">
            <h1 class="text-white text-3xl">Event Title</h1>
            <p class="text-[#7e7e7e] font-semibold">Lorem Ipsum is a text that u can understand as u are reading this ;</p>
            <p class="text-[#F9C56A] text-lg mt-1 font-semibold">by "Speaker/Organization"</p>
        </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="rounded-3xl w-[30rem]">
        <div class="w-[30rem] h-[24rem] overflow-y-hidden">
            <img class="rounded-t-3xl w-fit" src="{% static 'images/chess.png' %}" alt="">
        </div>
        <div class="p-10 w-[30rem] bg-[#252525] rounded-b-3xl">
            <h1 class="text-white text-3xl">Event Title</h1>
            <p class="text-[#7e7e7e] font-semibold">Lorem Ipsum is a text that u can understand as u are reading this ;</p>
            <p class="text-[#F9C56A] text-lg mt-1 font-semibold">by "Speaker/Organization"</p>
        </div>
    </div>
    {% comment %}  {% endcomment %}
</div>
<div class="text-center my-10 flex items-start gap-2 justify-center">
    <h1 class="text-4xl text-white font-medium"><span class="text-[#F9C56A]">Events</span></h1>
    <p class="text-4xl text-[#F9C56A] -mt-2">⌄</p>
</div>
{% endblock content %}