{% extends 'base.html' %}
{% block title %}Update members{% endblock title %}
{% block content %}
    <div class='mx-[25%] py-4 bg-[#333333] rounded-xl text-center'>
        <div class='text-right text-red-500 text-sm font-thin px-4'><span class='font-semibold'>Note:</span> Hold command/ctrl to select multiple</div>
        <form action="" method='POST'>
            {% csrf_token %}
            <div class='flex gap-4 items-center justify-center py-4'>
                <p class='text-xl font-semibold text-white'>Members: </p>
                {{form.members}}
                <div></div>
            </div>
            <button class="px-2 py-1 bg-[#eeb95d] text-black text-lg font-medium hover:scale-[1.1] hover:shadow-md hover:shadow-white duration-500" type = 'submit'>Submit</button>
        </form>
    </div>
{% endblock content %}